/* 
ICONS & SVG
 */
 
#goldenLines {
  display: none;

  @include desktop {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 45%;
    margin: 0 auto;
  }
}

.burger__socials {

  @include desktop {
    display: none;
  }
}

.burger__socials span {
  display: block;
  margin-top: 0%;
  @include paragraph;
  font-size: 0.8rem;
  letter-spacing: 0.5rem;
  text-align: center;
  opacity: 0.3;

  @include desktop {
    display: none;
  }
}

.socials {
  display: none;

  @include desktop {
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: fixed;
    left: 21px;
    bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.burger__socials .social__icon {
  fill: $gold;
  z-index: 5;
  width: 35px;
  height: 35px;
  margin: 0px 5px;

  &:hover {
    fill: $darkGold;
    // background-image: linear-gradient(5deg, #ff8c00 15%,#ff0080 70%);
    // -webkit-text-fill-color: transparent;
    // background-clip: padding-box;
    // -webkit-background-clip: padding-box;
  }
}

.socials .social__icon {
  fill: $gold;
  z-index: 5;
  width: 25px;
  height: 25px;
  margin: 0px 5px;

  &:hover {
    fill: $darkGold;
  }
}

#phone {
  fill: $gold;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 40%;
  margin-bottom: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  color: $papyrus;

  @include desktop {
    height: initial;
    margin-top: 7%;;

  }
}

#icon__scroll {
  z-index: 2;
  fill: none;
}

.icon__scroll {
  display: block;
  width: 40px;
  height: 40px;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
  @-webkit-keyframes scroll {
    0% { opacity: 0; }
    10% { -webkit-transform: translateY(0); opacity: 1; }
    100% { -webkit-transform: translateY(15px); opacity: 0;}
  }

  @include desktop {
    margin: 0 auto;
    // bottom: 5%;
  }
}

.contact__icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.design__icon {
  display: none;

  @include desktop {
    display: inline;
    position: relative;
    width: 60px;
    height: 60px;
    margin-left: 30px;
    bottom: -3px;
  }

  
}
