/* VARIABLES */

$margin-left-project: 180px;
$margin-left-project-m: 30px;

/* 
* MENU
*/

.background--project #menu__button {
  position: fixed;
  overflow: hidden;
  color: $gold;

  // &.is-clicked {

  // }
}

.background--project {
  display: block;
  // align-items: center;
  z-index: -1;
  width: 100vw;
  overflow: hidden;
  background-color: $papyrus;
  outline: 1px solid $gold;
  outline-offset: -20px;

  @include desktop {
    height: 100vh;
    padding-top: 12%;

    outline: 1px solid $gold;
    outline-offset: -40px;
  }
}

.project__page {
  display: block;
  width: 100%;

  h1 {
    margin-top: 30px;
    margin-left: $margin-left-project-m;
    @include h2-m;
    color: $dark;
  
    animation: fadeInLeft 0.8s both ease-out;
  
    @include desktop {
      margin-left: $margin-left-project;
      @include h2-m;
      font-size: 5.5rem;
      line-height: 1rem;
    }
  }

  h2 {
    margin-top: 0px;
    margin-left: $margin-left-project-m;

    @include h3;
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 1rem;
  
    animation: fadeIn 0.5s both ease-out;
    animation-delay: 1s;
  
    @include desktop {
      width: 500px;
      margin-left: $margin-left-project;
  
      @include h3;
      font-size: 1.2rem;
      font-weight: 200;
      margin-top: 30px;
      letter-spacing: 0.2rem;
      line-height: 2rem;
    }
  }

  .project__description {
    display: block;
    position: relative;
    margin: $margin-left-project-m;
    margin-top: 10px;
    @include paragraph-m;
    font-size: 0.875rem;
    color: $dark;

    animation: fadeIn 0.8s both ease-out;
    animation-delay: 1.5s;

    @include desktop {
      width: 500px;
      margin-left: $margin-left-project;
      // font-size: 1rem;
    }
  }

  .button__about {
    display: block;
    position: relative;
    width: 220px;
    margin-top: 20px;    
    margin-bottom: 70px;

    margin-left: $margin-left-project-m;
    margin-right: 10%;
    padding: 8px 0px;
    text-align: center;

    @include paragraph;
    color: $dark;
    background-color: $gold;

    animation: fadeIn 0.8s both ease-out;
    animation-delay: 1.5s;

    @include desktop {
      position: initial;
      margin-top: 20px;
      margin-left: $margin-left-project;
    }
  }

  .button__about--2 {
    margin-top: -55px;
  }
}

// PROJECTS NAVIGATION

.project__navigation {
  display: block;
  position: relative;
  bottom: 50px;
  width: 100%;
  height: 40px;
  padding: 5px 20px;

  @include desktop {
    // margin-bottom: 50px;
    position: absolute;
    bottom: 24px;
  }
}

.project__next {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 50px;
  width: 150px;
  background-color: $papyrus;

  @include desktop {
    position: absolute;
    width: 280px;

    &::before {
      @include desktop {
        content: "PROJET SUIVANT";
        display: block;
        margin-top: 8px;
        position: absolute;
        right: 30px;
        width: 180px;

        @include paragraph;
        font-size: 1rem;
        font-weight: 300;
        color: $gold;
        background-color: $papyrus;
      }
    }
  }
  .icon__next {
    position: relative;
    width: 40px;
    height: 40px;
    transform: rotate(270deg);
    background-color: $papyrus;
  }
}

.project__prev {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 50px;
  width: 50px;
  background-color: $papyrus;

  @include desktop {
    position: absolute;
    width: 280px;
    // right: 10%;
    // bottom: 10px;

    &::before {
      @include desktop {
        content: "PROJET PRECEDENT";
        display: block;
        margin-top: 8px;
        position: absolute;
        right: 30px;
        width: 180px;

        @include paragraph;
        font-size: 1rem;
        font-weight: 300;
        color: $gold;
        background-color: $papyrus;
      }
    }
  }
  .icon__next {
    position: relative;
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    background-color: $papyrus;
  }
}

.project__mockup {
  display: block;
  position: relative;
  right: -15px;
  z-index: 2;
  width: 140%;
  margin-top: 30px;

  animation: fadeInRight 0.8s both ease-in-out;

  &.project__mockup--mobile {
    position: absolute;
    top: 210px;
    right: 200px;
    width: 30%;

    animation-delay: 0.5s;

    @include desktop {
      top: 250px;
      right: 400px;
      width: 15%;
    }
  }

  @include desktop {
    display: block;
    width: 65%;
    position: absolute;
    right: -150px;
    top: 12%;
    // margin-bottom: 300px;
  }
}

