/* VARIABLES */

$margin-left: 120px;
$margin-left-m: 35px;

/* STYLE GLOBAL */

body {
  font-family: "Montserrat", "Segoe UI", Tahoma, Verdana, sans-serif;
  color: $papyrus;
  margin: 0px;
  overflow-x: hidden;
  background-color: $dark;
}

.container {
  width: 100vw;
  background-color: $dark;

  @include desktop {
    // Hauteur des GoldenLines
    height: 600vh;
  }
}

/*
* HERO ////////////////////////////
*/
.background--hero {
  height: 100vh;
  position: relative;

  &::before {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: url(../assets/background3.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @include desktop {
      background: url(../assets/background3-min.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      // filter: grayscale(1);
    }
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  z-index: 2;

  @include desktop {
    // display: inline-block;
    // position: relative;
    // padding: 10px;
    // text-align: center;
  }
}

.hero__title {
  width: 280px;
  margin-top: 45%;

  @include h1;
  text-align: center;
  @include golden;

  animation: fadeInDown 0.8s both ease-out;

  @include desktop {
    // position: relative;
    width: initial;
    // margin-left: $margin-left;
    margin-top: 20%;
    font-size: 6rem;
    line-height: 5.5rem;
    // text-align: initial;
  }
}

.hero__subtitle {
  display: inline-block;
  position: relative;
  width: 200px;
  margin-top: -15px;

  font-size: 0.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: $papyrus;
  // @include golden;

  animation: fadeInUp 0.8s both ease-out;
  animation-delay: 1s;

  @include desktop {
    width: initial;
    font-weight: 300;
    font-size: 0.875rem;

    // width: initial;
    // margin-top: 15px;
    // margin-left: 500px;
    // font-size: 1rem;
    // font-weight: 600;
    // @include golden;

    // animation: fadeInRight 0.8s both ease-out;
    animation-delay: 1s;
  }
}

.hero__description__title {
  display: none;
  @include paragraph;
  font-weight: 500;
  color: $papyrus;

  @include desktop {
    display: inline-block;
    width: initial;
    margin-top: 150px;
    font-weight: 300;
    font-size: 1rem;
    color: $gold;
    @include golden;

    // display: inline-block;
    // position: relative;
    // margin-top: 25px;
    // margin-left: 500px;

    animation: fadeInUp 1s both ease-out;
    animation-delay: 2s;
  }
}

.hero__description {
  display: none;
  @include paragraph;

  @include desktop {
    display: block;
    width: 450px;
    font-size: 0.875rem;
    text-align: center;
    color: $papyrus;

    animation: fadeInUp 1s both ease-out;
    animation-delay: 2.5s;
  }
}

///////////////////////////////////////////////////////////

/*
* PROJETS ////////////////////////////
*/

// Version desktop

.project__background--1 {
  background: url(../assets/background_booking.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 250px center;
}

.project__background--2 {
  background: url(../assets/background_moschino.jpeg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 250px center;
}

.project__background--3 {
  background: url(../assets/background_strit.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 250px center;
}

// Version mobile

.project__image1 {
  margin: 20px auto;
  width: 80%;
  height: 500px;
  // z-index: 80;
  background: url(../assets/background_booking-min.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  border: 5px solid $gold;

  @include desktop {
    display: none;
  }
}

.project__image2 {
  margin: 20px auto;
  width: 80%;
  height: 500px;
  // z-index: 80;
  background: url(../assets/background_moschino-min.jpeg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  border: 5px solid $gold;

  @include desktop {
    display: none;
  }
}

.project__image3 {
  margin: 20px auto;
  width: 80%;
  height: 500px;
  // z-index: 80;
  background: url(../assets/background_strit-min.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  border: 5px solid $gold;

  @include desktop {
    display: none;
  }
}

/// WAYPOINTS ///////////////////////////

.project__nb,
.project__title,
.project__subtitle,
.project__description,
.project__date,
.project__button,
.project__image1,
.project__image2,
.project__image3,
.about__subtitle,
.about__title,
.about__description {
  opacity: 0;
  transform: translateY(150px) scale(0.8);
  transition: opacity 0.3s, transform 0.4s;
}

.skills__subtitle,
.skills__title,
.skill__subtitle,
.skill {
  opacity: 0;
  transform: translateY(250px) scale(0.8);
  transition: opacity 0.3s, transform 0.4s;
}

.is-reached {
  .project__nb,
  .project__title,
  .project__subtitle,
  .project__description,
  .project__date,
  .project__button,
  .project__image1,
  .project__image2,
  .project__image3,
  .about__subtitle,
  .about__title,
  .about__description,
  .skills__subtitle,
  .skills__title,
  .skill__subtitle,
  .skill {
    opacity: 1;
    transform: none;
  }

  .skills__subtitle,
  .skills__title,
  .skill__subtitle,
  .skill {
    opacity: 1;
    transform: none;
  }
}

/// PROJET V1 ///////////////////////////

.project__wrapper {
  @include desktop {
    width: 562px;
  }
}

.project__wrapper--1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  // padding: 12px;
  height: 100vh;
  background-color: $papyrus;
  outline: 1px solid $gold;
  outline-offset: -10px;

  @include desktop {
    background-color: $papyrus;
    outline: none;
  }

  .project__nb {
    display: none;

    @include desktop {
      display: block;
      margin-left: $margin-left;
      @include h2;
      font-size: 4rem;
      color: $gold;
    }
  }

  .project__title {
    margin-top: 20px;
    margin-left: $margin-left-m;
    @include h2-m;
    color: $dark;

    @include desktop {
      margin-top: 0px;
      margin-left: $margin-left;
      font-size: 4rem;
    }
  }

  .project__subtitle {
    position: relative;
    margin-left: $margin-left-m;
    width: 275px;

    @include h4;
    font-size: 1rem;
    line-height: 1.6rem;
    color: $dark;

    @include desktop {
      display: block;
      margin-left: $margin-left;
      width: initial;
      margin-top: 10px;
      left: initial;
      line-height: initial;
      @include h4;
    }
  }

  .project__description {
    display: none;
    @include paragraph;

    @include desktop {
      display: block;
      margin-left: $margin-left;
      width: 350px;
      color: $dark;
    }
  }

  .project__date {
    display: none;

    @include desktop {
      display: block;
      margin-top: 20px;
      margin-left: $margin-left;
      @include h5;
      font-weight: 500;
      color: $dark;
    }
  }

  .project__button {
    position: relative;
    left: 45%;
    bottom: 5%;
    padding: 8px 35px;
    margin-right: 20px;

    @include paragraph;
    color: $dark;
    background-color: $gold;

    @include desktop {
      display: initial;
      position: initial;
      margin-left: $margin-left;
      margin-top: 24px;
      border: 0.5px solid $gold;
      background-color: transparent;
    }
  }

  .project__image {
    display: block;
    position: absolute;
    right: -10%;
    width: 65%;
  }
}

/// PROJET V2 ///////////////////////////
.project__wrapper--2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  // padding: 12px;
  height: 100vh;
  background-color: $dark;
  color: $dark;
  outline: 1px solid $gold;
  outline-offset: -10px;

  @include desktop {
    background-color: $dark;
    outline: none;
  }

  .project__nb {
    display: none;

    @include desktop {
      display: block;
      margin-left: $margin-left;
      @include h2;
      color: $papyrus;
    }
  }

  .project__title {
    margin-top: 20px;
    margin-left: $margin-left-m;
    @include h2-m;
    font-size: 3rem;
    line-height: 4rem;
    color: $gold;

    @include desktop {
      margin-top: 0px;
      margin-left: $margin-left;
      color: $gold;
    }
  }

  .project__subtitle {
    position: relative;
    width: 275px;
    margin-left: $margin-left-m;
    color: $papyrus;

    @include h4;
    font-size: 1rem;
    line-height: 1.6rem;

    @include desktop {
      position: relative;
      width: initial;
      left: initial;
      margin-top: 10px;
      margin-left: $margin-left;
      @include h4;
      line-height: initial;
      color: $papyrus;
    }
  }

  .project__description {
    display: none;
    @include paragraph;

    @include desktop {
      display: block;
      width: 350px;
      margin-left: $margin-left;
      color: $papyrus;
    }
  }

  .project__date {
    display: none;
    margin-top: 20px;

    @include desktop {
      display: block;
      margin-left: $margin-left;
      @include h5;
      font-weight: 500;
      color: $papyrus;
    }
  }

  .project__button {
    position: relative;
    left: 45%;
    bottom: 5%;
    padding: 8px 35px;
    @include paragraph;
    color: $dark;
    background-color: $gold;

    @include desktop {
      display: initial;
      position: initial;
      margin-top: 24px;
      margin-left: $margin-left;
      border: 0.5px solid $gold;
      color: $papyrus;
      background-color: $dark;
    }
  }
}

/*
* ABOUT AND SKILLS ////////////////////////////
*/

.background--aboutskills {
  background: linear-gradient(0deg, #222222 0%, #010101 51.6%);
}

/// ABOUT

.background--about {
  // max-height: 100vh;
  background: url(../assets/portrait.jpg) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: 80px 120px;

  @include desktop {
    height: 100vh;
    background-position: 100px center;
  }
}

// .background__blur {
//   margin: 35px;
//   margin-left: $margin-left-m;
//   padding: 20px;
//   // width: calc(50% - 48px);
// }

.about__title {
  margin-left: $margin-left-m;
  margin-bottom: 300px;
  @include h2-m;
  line-height: 3rem;
  @include golden;

  @include desktop {
    margin-left: 35%;
    margin-bottom: 10px;
    @include h2;
    font-size: 6rem;
    line-height: 5rem;
  }
}

.about__subtitle {
  padding-top: 60px;
  margin-left: $margin-left-m;
  @include paragraph;
  font-size: 0.75rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  @include golden;

  @include desktop {
    margin-left: 35%;
    padding-top: 10%;
    font-size: 1rem;
  }
}

.about__description {
  position: relative;
  z-index: 4;
  margin: 35px 25px 0px 25px;
  padding: 15px;
  @include paragraph-m;
  font-size: 0.875rem;
  background-color: $dark;

  @include desktop {
    max-width: 700px;
    margin: 15px 25px 0px 25px;
    margin-left: 40%;
    padding: 25px;
    padding-bottom: 10px;
    @include paragraph;
    font-weight: 100;
  }

  strong {
    color: $gold;
  }

  &.about__description--2 {
    margin-top: initial;
    padding-top: 0px;
  }

  &.about__description--3 {
    margin-top: initial;
    padding-top: 0px;

    font-weight: 300;
    color: $darkGold;

    @include desktop {
      text-align: center;
    }
  }
}

.about__data {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 3px 35px;
  padding: initial;
  @include paragraph;
  font-weight: 200;
  color: $darkGold;
  background-color: transparent;

  @include desktop {
    margin-left: 40%;
    font-weight: 300;
    line-height: 2rem;
  }
}

/// SKILLS
.skills__title {
  margin-left: $margin-left-m;
  @include h2-m;
  line-height: 3rem;
  @include golden;

  @include desktop {
    margin-left: $margin-left;
    @include h2;
    font-size: 6rem;
    line-height: 5rem;
  }
}

.skills__subtitle {
  margin-top: 100px;
  margin-left: $margin-left-m;
  @include paragraph;
  font-size: 0.75rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  @include golden;

  @include desktop {
    margin-top: 170px;
    margin-left: $margin-left;
    font-size: 1rem;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: baseline;

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100vh;
    width: 80vw;
    margin: auto;
  }
}

.skill {
  margin: 30px auto;

  @include desktop {
    height: 200px;
  }
}

.skill:nth-of-type(1) {
  order: 2;

  @include desktop {
    order: 1;
    margin-top: 100px;
  }
}

.skill:nth-of-type(3) {
  order: 3;

  @include desktop {
    margin-top: 120px;
  }
}

.skill__subtitle {
  width: 280px;
  margin-left: $margin-left-m;
  font-family: NarzissProCy;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  @include golden;

  @include desktop {
    font-size: 1.5rem;
  }
}

.skill__description {
  position: relative;
  z-index: 5;
  margin: 35px;
  margin-top: -4px;
  padding: 20px;
  @include paragraph-m;
  font-size: 0.875rem;
  text-align: center;
  border: 0.75px solid transparent;
  background-color: $dark;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include desktop {
    max-width: 300px;
    @include paragraph;
  }
}

.skill__description h4 {
  margin-top: 20px;
  @include h5;
  line-height: 1rem;
  text-align: center;
  @include golden
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 40%;  
}

.backtotop {
  text-align: center;
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5rem;
  @include golden;
}

.copyright {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center;
}
