/* STYLE GLOBAL */
body {
  font-family: "Montserrat", "Segoe UI", Tahoma, Verdana, sans-serif;
  color: $papyrus;
  margin: 0px;
  overflow-x: hidden;
  // width: 100vw;
}

.container {
  background-color: $papyrus;
  width: 100vw;
}

.wrapper {
  height: 100vh;
}

//////////////////////////////////////////////////

// MENU BURGER /////////////////
#menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 4;
  width: 62px;
  height: 62px;
  cursor: pointer;
  -webkit-border-radius: 62px;
  -moz-border-radius: 62px;
  border-radius: 50px;
  border: 0.5px solid $gold;
  @include h5;
  color: $gold;
  transition: all 0.3s ease-in-out;

  @include desktop {
    top: 15px;
    right: 15px;
  }

  &.is-clicked {
    color: $darkGold;
  }

  // &::before {
  //   content: '';
  //   z-index: -1;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   right: -100%;
  //   -webkit-transition: all 0.3s ease-in-out;
  //   -o-transition: all 0.3s ease-in-out;
  //   transition: all 0.3s ease-in-out;
  //   background-image: linear-gradient(5deg, #ff8c00 15%,#ff0080 70%);
  // }

  // &:hover {
  //   background-image: linear-gradient(5deg, #ff8c00 15%,#ff0080 70%);
  //   background-clip: content-box;
  //   -webkit-background-clip: content-box;

  //   &::before {
  //     right: 0;
  //   }
  // }
}

$menu-width: 333px;
.menu__nav {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0px;
  right: -100%;
  padding: 10px 20px;
  z-index: 3;
  background-color: $dark;
  text-align: center;

  transition: all 0.75s ease-in-out;



  @include desktop {
    width: $menu-width;
    right: -$menu-width;
    border-left: 2px solid $gold;
  }

  &.is-open {
    right: 0%;
  }
}

.menu__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 35%;

  @include desktop {
    margin-top: 60%;
  }
}

.menu__nav ul li a {
  text-decoration: none;
  @include h3;
  font-size: 1.5rem;
  color: $darkGold;
  transition: all 0.5s ease-in-out;
  line-height: 60px;

  &:hover {
    letter-spacing: 8px;
  }

  @include desktop {
    @include h3;
    color: $darkGold;
  }
}

// SOCIAL /////////////////

.socials {
  // display: flex;
  // justify-content: space-between;
  // flex-direction: row;
  width: 280px;
}

.social {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 35%;

  @include desktop {
    margin-top: 100px;
  }
}

.social__icon {
  fill: $gold;
  z-index: 5;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &:hover {
    fill: $darkGold;
    // background-image: linear-gradient(5deg, #ff8c00 15%,#ff0080 70%);
    // -webkit-text-fill-color: transparent;
    // background-clip: padding-box;
    // -webkit-background-clip: padding-box;
  }
}

// SCROLL /////////////////
.icon__scroll {
  position: absolute;
  left: 50%;
  top: 92vh;
  z-index: 2;
  rotate: 180deg;
}

/*
* HERO
*/
.background--hero {
  height: 100vh;
  position: relative;
  &::before {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: url(../assets/Ferns.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    // filter: grayscale(100%);
  }
}

.hero__wrapper {
  z-index: 2;
  position: relative;
}

.hero__title {
  position: absolute;
  left: 27px;
  top: 195px;
  text-align: center;
  font-family: "NarzissProSwirls", Impact, "Arial Narrow Bold", sans-serif;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 800;
  color: $gold;

  @include tablet {
    // A FAIRE !!!
  }

  @include desktop {
    position: absolute;
    left: 160px;
    top: 350px;
    font-size: 6rem;
    // color: $darkGold;
    @include golden2;
  }
}

hr {
  position: absolute;
  max-width: 80%;
  height: 0px;
  top: 365px;
  border: 0.5px solid $gold;

  @include tablet {
    // A FAIRE !!!
  }

  @include desktop {
    position: absolute;
    width: 880px;
    left: 176px;
    top: 448px;
  }
}

.hero__subtitle {
  position: absolute;
  left: 27px;
  top: 381px;
  padding: 0px 15px;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  text-align: right;
  @include golden2;

  @include tablet {
    // A FAIRE !!!
  }

  @include desktop {
    position: absolute;
    left: 562px;
    top: 483px;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
  }
}

.hero__description__title {
  display: none;
  padding: 0px 15px;
  @include paragraph;
  font-weight: 500;
  @include golden;

  @include tablet {
    // A FAIRE !!!
  }

  @include desktop {
    display: inline-block;
    position: absolute;
    left: 562px;
    top: 536px;
  }
}

.hero__description {
  display: none;
  padding: 0px 15px;
  @include paragraph;
  // @include golden;

  @include tablet {
    // A FAIRE !!!
  }

  @include desktop {
    display: inline-block;
    position: absolute;
    left: 562px;
    top: 561px;
    width: 528px;
    color: $papyrus;
  }
}

///////////////////////////////////////////////////////////

/*
* PROJETS
*/

$margin-left: 120px;

// PROJET 1 ///////////////////////////

@include desktop {
  .project__wrapper {
    width: 562px;
    height: 100vh;
    left: 0px;
    // border: 1px solid red;
  }
}

.project__wrapper--1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  height: 100vh;
  background-color: $papyrus;
  color: $dark;
  outline: 1px solid $gold;
  outline-offset: -10px;

  @include desktop {
    background-color: $gold;
    outline: none;
  }

  .project__nb {
    @include h2;
    font-size: 3rem;
    color: $papyrus;

    @include desktop {
      margin-left: $margin-left;
      font-size: 4rem;
    }
  }

  .project__title {
    @include h2;
    color: $dark;
    font-size: 2.75rem;

    @include desktop {
      margin-left: $margin-left;
      font-size: 4rem;
    }
  }

  .background__project {
    position: absolute;
    z-index: 0;
    width: 281px;
    height: 312px;
    background-color: $gold;
    // padding: 10px;

    @include desktop {
      display: none;
    }
  }

  .project__subtitle {
    position: relative;
    width: 275px;
    // left: 45px;
    color: $dark;
    @include h4;
    font-size: 1rem;
    line-height: 1.6rem;

    @include desktop {
      display: block;
      margin-left: $margin-left;
      width: initial;
      margin-top: 10px;
      left: initial;
      line-height: initial;
      @include h4;
    }
  }

  .project__description {
    display: none;
    @include paragraph;

    @include desktop {
      display: block;
      margin-left: $margin-left;
      width: 350px;
    }
  }

  .project__date {
    display: none;
    @include h5;

    @include desktop {
      display: block;
      margin-left: $margin-left;
    }
  }

  .button__about {
    display: inline-block;
    @include paragraph;

    color: $dark;
    background-color: $gold;
    padding: 8px 35px;

    @include desktop {
      margin-left: $margin-left;
      margin-top: 24px;
      border: 0.5px solid $dark;
    }
  }

  .project__image {
    display: block;
    position: absolute;
    right: -10%;
    width: 65%;
  }
}

// PROJET 2 ///////////////////////////
.project__wrapper--2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  height: 100vh;
  background-color: $dark;
  color: $dark;
  outline: 1px solid $gold;
  outline-offset: -10px;

  @include desktop {
    background-color: $dark;
    outline: none;
  }

  .project__nb {
    @include h2;
    font-size: 3rem;
    color: $dark;

    @include desktop {
      margin-left: $margin-left;
      font-size: 4rem;
      color: $papyrus;
    }
  }

  .project__title {
    @include h2;
    font-size: 2.75rem;
    color: $gold;

    @include desktop {
      margin-left: $margin-left;
      font-size: 4rem;
      color: $gold;
    }
  }

  .background__project {
    position: absolute;
    z-index: 0;
    width: 281px;
    height: 312px;
    background-color: $papyrus;
    // padding: 10px;

    @include desktop {
      display: none;
    }
  }

  .project__subtitle {
    color: $dark;
    position: absolute;
    width: 275px;
    // left: 45px;
    @include h4;
    font-size: 1rem;
    line-height: 1.6rem;

    @include desktop {
      position: relative;
      width: initial;
      left: initial;
      margin-top: 10px;
      margin-left: $margin-left;
      @include h4;
      line-height: initial;
      color: $papyrus;
    }
  }

  .project__description {
    display: none;
    @include paragraph;

    @include desktop {
      display: block;
      width: 350px;
      margin-left: $margin-left;
      color: $papyrus;
    }
  }

  .project__date {
    display: none;
    @include h5;

    @include desktop {
      display: block;
      margin-left: $margin-left;
      color: $papyrus;
    }
  }

  .button__about {
    display: inline-block;
    padding: 8px 35px;
    @include paragraph;
    color: $dark;
    background-color: $gold;

    @include desktop {
      margin-top: 24px;
      margin-left: $margin-left;
      border: 0.5px solid $papyrus;
      color: $papyrus;
      background-color: $dark;
    }
  }
}

////// BACKGROUND PROJECT (only on mobile version)
.background__project1 {
  left: 39px;
  top: 646px;
}

.background__project2 {
  left: 39px;
  top: 1214px;
}

.background__project3 {
  left: 39px;
  top: 1782px;
}



/////////////////// BACKGROUND SKILLS & ABOUT

.background__about {
  background: linear-gradient(0deg, #222222 0%, #010101 51.6%);
}

/// SKILLS
.skills__title {
  @include h2;
  color: $gold;
}

.skills {
  display: flex;
  justify-content: space-around;
}

.skill {

}

.skills__subtitle {
  font-family: NarzissProCy;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  color: $gold;
}

.skills__description {
  max-width: 300px;
  margin-top: -4px;
  padding: 20px;
  @include paragraph;
  font-weight: 100;
  border: 0.75px solid $gold;
}


/// ABOUT

.wrapper--about {
  // max-height: 100vh;
  background: url(../assets/photo_portfolio.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-position: 120px center;
}

.about__title {
  @include h2;
  color: $gold;
}

.about__subtitle {
  @include paragraph;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: $gold;
}

.about__description {
  max-width: 580px;
  padding: 20px;
  @include paragraph;
  font-weight: 100;
  border: 0.75px solid $gold;
}

.about__data {
  @include paragraph;
  font-weight: 100;
  color: $gold;
}

.backtotop {
  text-align: center;
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem; 
  font-weight: 300;
  line-height: 1.5rem;
  color: $gold;
}

.copyright {
  text-align: center;
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.625rem; 
  font-weight: 300;
  line-height: 1.5rem;
}

// TITLES //////////
// .project__title1 {
//   position: absolute;
//   left: 22px;
//   top: 570px;
//   @include desktop {
//     position: initial;
//   }
// }

// .project__title2 {
//   position: absolute;
//   left: 22px;
//   top: 1138px;
//   @include desktop {
//     position: initial;
//   }
// }

// .project__title3 {
//   position: absolute;
//   left: 22px;
//   top: 1706px;
//   @include desktop {
//     position: initial;
//   }
// }

// BUTTON ABOUT //////////
// .button__about1 {
//   position: absolute;
//   left: 131px;
//   top: 1084px;
//   @include desktop {
//     position: initial;
//   }
// }

// .button__about2 {
//   position: absolute;
//   left: 131px;
//   top: 1652px;
//   @include desktop {
//     position: initial;
//   }
// }

// .button__about3 {
//   position: absolute;
//   left: 131px;
//   top: 2220px;
//   @include desktop {
//     position: initial;
//   }
// }
