/* STYLE GLOBAL */

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $papyrus;
  margin: 0px;
}

.container {
  background-color: $dark;
}

.background {
  width: 100vw;
  height: 100vh;
}
///////////////////////////////////////////////////////////

/*
* HERO
*/
html { 
  background: url(../assets/Ferns.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero__title {
  position: absolute;
  left: 10rem;
  top: 22rem;
  font-family: "NarzissProSwirls", Impact, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 6rem;
  @include sunsetDreams;
}

hr {
  position: absolute;
  width: 55rem;
  left: 11rem;
  top: 28rem;
  border: 0.5px solid $gold;
}

.hero__subtitle {
  position: absolute;
  left: 35rem;
  top: 30rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  @include golden2;
}
///////////////////////////////////////////////////////////

/*
* PROJETS
*/
.project__title {
  @include h2;
}

.project__subtitle {
  @include h4;
}

.project__date {
  @include h5;
}

.project__description {
  @include Paragraph;
}
///////////////////////////////////////////////////////////

/*
* PROJET 1
*/






///////////////////////////////////////////////////////////

/*
* PROJET 2
*/




///////////////////////////////////////////////////////////
